.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc

tests/testthat/Rplots.pdf

.DS_Store

cran-comments.md
revdep/*
CRAN-RELEASE
CRAN-SUBMISSION
release-prep.R

# vscode/positron/etc settings
.vscode/*

# knitting of vignettes
*_cache
*_files
vignettes/*.quarto
vignettes/*.html

# draft vignette
ppc_loo_pit.Rmd
test_greyscale.qmd
vignettes/.gitignore

# visual regression test
tests/vdiffr.Rout.fail